<div ng-controller="cityCtrl">

 <div class="bgimgcity">

   <div class="city">

  <p class="cityp">As the sun goes down in the city all the</p>
  <input type="text" ng-model="obj.one" placeholder="word">
  <p>begin to</p>
  <input type="text" ng-model="obj.two" placeholder="word">
  <p>. The tall</p>
  <input type="text" ng-model="obj.three" placeholder="word">
  <p>and</p>
  <input type="text" ng-model="obj.four" placeholder="word">
  <p>rooftops block the light. A light rain</p>
  <input type="text" ng-model="obj.five" placeholder="word">
  <p>and the</p>
  <input type="text" ng-model="obj.six" placeholder="word">
  <p>looked</p>
  <input type="text" ng-model="obj.seven" placeholder="word">
  <p>. The energy of the day has</p>
  <input type="text" ng-model="obj.eight" placeholder="word">
  <p>in the city, and the only</p>
  <input type="text" ng-model="obj.nine" placeholder="word">
  <p>is</p>
  <input type="text" ng-model="obj.ten" placeholder="word">
  <p>. Night has begun and the</p>
  <input type="text" ng-model="obj.eleven" placeholder="word">
  <p>will</p>
  <input type="text" ng-model="obj.twelve" placeholder="word">
  <p>. Leaving the</p>
  <input type="text" ng-model="obj.thirteen" placeholder="word">
  <p>behind,</p>
  <input type="text" ng-model="obj.fourteen" placeholder="word">
  <p>to the</p>
  <input type="text" ng-model="obj.fifteen" placeholder="word">
  <p>. I am</p>
  <input type="text" ng-model="obj.sixteen" placeholder="word">
  <p>to be</p>
  <input type="text" ng-model="obj.seventeen" placeholder="word">

   <button type="button" class="btn btn-default" ng-click="submitPoem()">Submit</button>

  </div>

  <div class="cityWords">

 <h3>City Nouns</h3>
 <span>building, buildings, streets, street, taxi, bus, subway, church, park, people, ambulance, car, cars, fire hydrant, curb, garbage, dog, cat, rat, bridge, skyscraper, bicycles</span>

 <h3>City Colors</h3>
 <span>black, white, gray, silver, green, blue, red, yellow, orange, brown, gold, purple</span>

 <h3>City Adjectives</h3>
 <span>modern, ancient, large, small, interesting, boring, exciting, beautiful, ugly, expensive, cheap, polluted, clean, noisy, quiet, calm, crowded, busy, pleasant, warm, cool, hot, cold</span>

  </div>

 </div>

</div>
