<!--city view using angular route/ng-view/city controller-->
<div ng-controller="cityCtrl">

 <div class="bgimgcity">

   <div class="city">

        <center><p class="cityp">As the sun goes down in the city all the<br>
        <input type="text" ng-model="obj.one" placeholder="">
        begin to
        <input type="text" ng-model="obj.two" placeholder="">
        . The tall
        <input type="text" ng-model="obj.four" placeholder="">
         <br>block the light. A light rain<br>
        <input type="text" ng-model="obj.five" placeholder="">
        and the
        <input type="text" ng-model="obj.six" placeholder="">
        look<br>
        <input type="text" ng-model="obj.seven" placeholder="">
        . The energy of the day has
        <input type="text" ng-model="obj.eight" placeholder="">
        <br> and the only
        <input type="text" ng-model="obj.nine" placeholder="">
        is
        <input type="text" ng-model="obj.ten" placeholder="">
        .  Night has begun and the<br>
        <input type="text" ng-model="obj.eleven" placeholder="">
        will
        <input type="text" ng-model="obj.twelve" placeholder="">
        . Leaving the
        <input type="text" ng-model="obj.thirteen" placeholder="">
        behind,<br>
        <input type="text" ng-model="obj.fourteen" placeholder="">
        to the
        <input type="text" ng-model="obj.fifteen" placeholder="">
        . I am
        <input type="text" ng-model="obj.sixteen" placeholder="">
        to be<br>
        <input type="text" ng-model="obj.seventeen" placeholder="">
        .
       <center><button type="button" class="btn btn-default" ng-click="submitPoem()">Submit</button><center>

      </div>

    <div class="cityWords">

      <h3>City Nouns/people, place, or thing</h3>
      <span>building, buildings, streets, street, taxi, bus, subway, church, park, people, ambulance, car, cars, fire hydrant, curb, garbage, dog, cat, rat, bridge, skyscraper, bicycles</span>

      <h3>City Colors</h3>
      <span>black, white, gray, silver, green, blue, red, yellow, orange, brown, gold, purple</span>

      <h3>City Adjectives/describe your noun's with these words</h3>
      <span>modern, ancient, large, small, interesting, boring, exciting, beautiful, ugly, expensive, cheap, polluted, clean,    noisy, quiet, calm, crowded, busy, pleasant, warm, cool, hot, cold</span>

     </div>

    <div style="clear: both;"></div><!-- This is to clear the float -->

   </div>

</div>
