<div ng-controller="desertCtrl">

 <div class="bgimgdesert">

  <div class="desert">

   <p class="desertp">A night in the desert is so</p>
   <input type="text" ng-model="obj.one" placeholder="word">
   <p class="desertp">and</p>
   <input type="text" ng-model="obj.two" placeholder="word">
   <p class="desertp">. As the</p>
   <input type="text" ng-model="obj.three" placeholder="word">
   <p class="desertp">howls at the</p>
   <input type="text" ng-model="obj.four" placeholder="word">
   <p class="desertp">and the</p>
   <input type="text" ng-model="obj.five" placeholder="word">
   <p class="desertp">finds his home. The cactus</p>
   <input type="text" ng-model="obj.six" placeholder="word">
   <p class="desertp">in the night.</p>
   <input type="text" ng-model="obj.seven" placeholder="word">
   <p class="desertp">in the desert everything started to get</p>
   <input type="text" ng-model="obj.eight" placeholder="word">
   <p class="desertp">and the</p>
   <input type="text" ng-model="obj.nine" placeholder="word">
   <p class="desertp">looked</p>
   <input type="text" ng-model="obj.ten" placeholder="word">
   <p class="desertp">. Only the gentle</p>
   <input type="text" ng-model="obj.eleven" placeholder="word">
   <p class="desertp">because it will</p>
   <input type="text" ng-model="obj.twelve" placeholder="word">
   <p class="desertp">. All the</p>
   <input type="text" ng-model="obj.thirteen" placeholder="word">
   <p class="desertp">in the</p>
   <input type="text" ng-model="obj.fourteen" placeholder="word">
   <p class="desertp">. And if you're lucky a</p>
   <input type="text" ng-model="obj.fifteen" placeholder="word">
   <p class="desertp">will</p>
   <input type="text" ng-model="obj.sixteen" placeholder="word">
   <p class="desertp">pass by and</p>
   <input type="text" ng-model="obj.seventeen" placeholder="word">

   <button type="button" class="btn btn-default" ng-click="submitPoem()">Submit</button>

  </div>

  <div class="desertWords">

<h3>Desert Nouns</h3>
<span>cactus, sand, rock, snake, coyote, spider, prairie dog, sun, moon, stars, mountains, tree, trees, bird</span>

<h3>Desert Colors</h3>
<span>blue, green, black, red, yellow, orange, purple, brown, silver, white, gold, pink</span>

<h3>Desert Adjectives</h3>
<span>Sandy,	Bleak,	Barren,	Hot,	Lifeless,
Unwelcoming,	Untamed,	Ever-Changing,	Interesting,	Uninhabitable, Beautiful
Mysterious,	Dangerous,	Unexplored,	Unspoiled,
Solitude,	Expansive, Lonely, Empty,	Uninviting	Desolate, Unproductive,	Parched, Arid, Dehydrated
Monotonous, Burning,	Never-ending,	Everlasting	Bone-Dry, Fiery, Scorching, Cunning,	Angry,	Fierce, Lonely, Dry, Maze,	Hilly,	Rocky, Sad	Twisting, Thirsty,	Dusty,	Forsaken,	Wilderness
Waterless,	Biting,	Cold,	Drought, Extreme	Golden,	Sifting,	Glittering,	Intense, Windblown	Quiet,	Rippling</span>

</div>

</div>

</div>
