<div ng-controller="forestCtrl">

 <div class="bgimgforest">

  <div class="forest">

   <p class="forestp">When in the</p>
   <input type="text" ng-model="obj.one" placeholder="word">
   <p class="forestp">forest, be very</p>
   <input type="text" ng-model="obj.two" placeholder="word">
   <p class="forestp">. As I close my</p>
   <input type="text" ng-model="obj.three" placeholder="word">
   <p class="forestp">and</p>
   <input type="text" ng-model="obj.four" placeholder="word">
   <p class="forestp">to the</p>
   <input type="text" ng-model="obj.five" placeholder="word">
   <p class="forestp">.</p>
   <input type="text" ng-model="obj.six" placeholder="word">
   <p class="forestp">everything started to get</p>
   <input type="text" ng-model="obj.seven" placeholder="word">
   <p class="forestp">and the</p>
   <input type="text" ng-model="obj.eight" placeholder="word">
   <p class="forestp">looked</p>
   <input type="text" ng-model="obj.nine" placeholder="word">
   <p class="forestp">. The</p>
   <input type="text" ng-model="obj.ten" placeholder="word">
   <p class="forestp">a</p>
   <input type="text" ng-model="obj.eleven" placeholder="word">
   <p class="forestp">because it will</p>
   <input type="text" ng-model="obj.twelve" placeholder="word">
   <p class="forestp">you! The light is fading</p>
   <input type="text" ng-model="obj.thirteen" placeholder="word">
   <p class="forestp">in the</p>
   <input type="text" ng-model="obj.fourteen" placeholder="word">
   <p class="forestp">. Let us</p>
   <input type="text" ng-model="obj.fifteen" placeholder="word">
   <p class="forestp">into</p>
   <input type="text" ng-model="obj.sixteen" placeholder="word">
   <p class="forestp">. Watching over everything is the</p>
   <input type="text" ng-model="obj.seventeen" placeholder="word">
   <p class="forestp">, </p>
   <input type="text" ng-model="obj.eighteen" placeholder="word">
   <p class="forestp">to the</p>
   <input type="text" ng-model="obj.nineteen" placeholder="word">
   <p class="forestp">. I am</p>
   <input type="text" ng-model="obj.twenty" placeholder="word">
   <p class="forestp">to be</p>
   <input type="text" ng-model="obj.twentyone" placeholder="word">

   <button type="button" class="btn btn-default" ng-click="submitPoem()">Submit</button>

  </div>

  <div class="forestWords">

<h3>Forest Nouns</h3>
<span>tree, trees, squirrel, bear, deer, rocks, moss, leaves, sticks, bird, stump, river, clouds, shade, dirt, stones, bark, grass, flowers, bugs, owl, porcupine, racoon</span>

<h3>Forest Colors</h3>
<span>blue, green, black, red, yellow, orange, purple, brown, silver, white, gold, pink</span>

<h3>Forest Adjectives</h3>
<span>abundant, amber, autumnal, breezy, bright,
brilliant, brisk, brown, chilly, cold, colder,
colored, colorful, cozy, crackling, crisp, crunchy,
deciduous, earthy, enchanting, enjoyable, fallen,
foggy, foraging, fresh, frosty, golden, gusty,
harvested, hibernating, howling, magnificent,
moonlit, overgrown, rainy, ripe, rust-colored,
rustling, scary, seasonal, soggy, spectacular,
spooky, turning, vibrant, vivid, wilted, wilting,
windy, wondrous, woodland</span>

</div>

</div>

</div>
