<div>

  <ol>Directions:
    <li>Choose a theme from the list above.</li>
    <li>Write your own word or words in the blank spaces provided</li>
    <li>Use the words from the list to help you create a poem.</li>
  </ol>
  <h4>Some tips if you are stuck. Try describing your five senses, for example:
    I hear...
    I smell...
    I taste...
    I feel...
    I see...<br>Remember poems do not need to rhyme!</h4>

      <p>Below are some links to the latest children's poetry from Reddit for inspiration:</p>

      <reddit-dir ng-repeat="poem in poetry"></reddit-dir>

</div>
