<div ng-controller="jungleCtrl">

 <div class="bgimgjungle"

  <div class="jungle">

   <p class="junglep">A twig snaps! Was that a</p>
   <input type="text" ng-model="obj.one" placeholder="word">
   <p class="junglep">? Did you just hear a</p>
   <input type="text" ng-model="obj.two" placeholder="word">
   <p class="junglep">? Being in the</p>
   <input type="text" ng-model="obj.three" placeholder="word">
   <p class="junglep">jungle makes me</p>
   <input type="text" ng-model="obj.four" placeholder="word">
   <p class="junglep">. The air smells like</p>
   <input type="text" ng-model="obj.five" placeholder="word">
   <p class="junglep">and I'm beginning to</p>
   <input type="text" ng-model="obj.six" placeholder="word">
   <p class="junglep">.</p>
   <input type="text" ng-model="obj.seven" placeholder="word">
   <p class="junglep">is really wet, and I think a</p>
   <input type="text" ng-model="obj.eight" placeholder="word">
   <p class="junglep">was staring at me. Being in the jungle is</p>
   <input type="text" ng-model="obj.nine" placeholder="word">

   <button type="button" class="btn btn-default" ng-click="submitPoem()">Submit</button>

  </div>

  <div class="jungleWords">

<h3>Jungle Nouns</h3>
<span>trees, plants, dirt, rocks, river, rain, sun, animals, monkeys, snakes, panther, alligator, boar, bird, frogs, bugs, lizards</span>

<h3>Jungle Colors</h3>
<span>blue, green, black, red, yellow, orange, purple, brown, silver, white, gold, pink</span>

<h3>Jungle Adjectives</h3>
<span>gritty, hard, prickly, rough, sharp, silky, slimy, slippery, smooth, soft, sticky, stinging, wet, fragrant, pungent, fresh, musty, rotten, rich, stale, strong, sweet, perfumed, humid, sweltering, steamy, hot, squeak, squawk, whistle,
roar, howl, screech, wail, chatter, gibber, croak,
grunt, hiss, scream, shriek, chant, caw,whimper,
purr, cry, buzz, shrill</span>

</div>

</div>

</div>
