<div ng-controller="moonCtrl">

 <div class="bgimgspace">

  <div class="moon">

    <p class="moonp">Pretty</p>
    <input type="text" ng-model="obj.one" placeholder="word">
    <p class="moonp">moon. How</p>
    <input type="text" ng-model="obj.two" placeholder="word">
    <p class="moonnp">you are way up in the sky. Sometimes</p>
    <input type="text" ng-model="obj.three" placeholder="word">
    <p class="moonnp">would like to take a</p>
    <input type="text" ng-model="obj.four" placeholder="word">
    <p class="moonnp">to reach your</p>
    <input type="text" ng-model="obj.five" placeholder="word">
    <p class="moonnp">. Would anybody be there to</p>
    <input type="text" ng-model="obj.six" placeholder="word">
    <p class="moonnp">? From far away you look</p>
    <input type="text" ng-model="obj.seven" placeholder="word">
    <p class="moonp">, but up close everything is</p>
    <input type="text" ng-model="obj.eight" placeholder="word">
    <p class="moonp">. Are you</p>
    <input type="text" ng-model="obj.nine" placeholder="word">
    <p class="moonp">or are you</p>
    <input type="text" ng-model="obj.ten" placeholder="word">
    <p class="moonnp">? You bring so much</p>
    <input type="text" ng-model="obj.eleven" placeholder="word">
    <p class="moonnp">to our world. I</p>
    <input type="text" ng-model="obj.twelve" placeholder="word">
    <p class="moonp">that you are</p>
    <input type="text" ng-model="obj.thirteen" placeholder="word">
    <p class="moonp">. Are you </p>
    <input type="text" ng-model="obj.fourteen" placeholder="word">
    <p class="moonp">the sun?</p>

<button type="button" class="btn btn-default" ng-click="submitPoem()">Submit</button>

</div>

<div class="moonWords">

<h3>Moon Nouns</h3>
<span>dust, rock, alien, air, earth, moon, tide, sand</span>

<h3>Moon Colors</h3>
<span>gray, blue, green, black, red, yellow, orange, purple, brown, silver, white, gold, pink</span>

<h3>Moon Adjectives</h3>
<span>full, new, crescent, half, bright, pale, young, cold, round, big, brilliant, clear, beautiful, honey, dark, quarter, golden, gibbous, silvery, thin, huge, lovely, largest, glorious, faced, faint, sixth, silent, tropical, watery, tiny, clouded, dim, orbed, sun, heat, man, inconstant, quiet, splendid, gentle, slender, wintry, radiant, pallid, fat, cool</span>

</div>

</div>

</div>
