<!--moon view using angular route/ng-view/moon controller-->
<div ng-controller="moonCtrl">

  <div class="bgimgspace">

    <div class="moon">

        <center><p class="moonp">Pretty
        <input type="text" ng-model="obj.one" placeholder="">
        moon.<br> How
        <input type="text" ng-model="obj.two" placeholder="">
        you are up in the sky.<br> Sometimes
        <input type="text" ng-model="obj.three" placeholder="">
        would like to take a<br>
        <input type="text" ng-model="obj.four" placeholder="">
        to reach your
        <input type="text" ng-model="obj.five" placeholder="">.<br>
        Would anybody be there to
        <input type="text" ng-model="obj.six" placeholder="">?<br>
        From far away you look
        <input type="text" ng-model="obj.seven" placeholder="">,<br>
        but up close everything is
        <input type="text" ng-model="obj.eight" placeholder="">.<br>
        Are you
        <input type="text" ng-model="obj.nine" placeholder="">
        or are you<br>
        <input type="text" ng-model="obj.ten" placeholder="">
        ? You bring so much<br>
        <input type="text" ng-model="obj.eleven" placeholder="">
        to our world. I
        <input type="text" ng-model="obj.twelve" placeholder="">
        that you are.<br>
        Are you
        <input type="text" ng-model="obj.fourteen" placeholder="">
        the sun?</p>

      <button type="button" class="btn btn-default" ng-click="submitPoem()">Submit</button>

     </div>

    <div class="moonWords">

        <h3>Moon Nouns/people, place or thing</h3>
        <span>dust, rock, alien, air, earth, moon, tide, sand</span>

        <h3>Moon Colors</h3>
        <span>gray, blue, green, black, red, yellow, orange, purple, brown, silver, white, gold, pink</span>

        <h3>Moon Adjectives/describe your noun's with these words</h3>
        <span>full, new, crescent, half, bright, pale, young, cold, round, big, brilliant, clear, beautiful, honey, dark, quarter, golden, gibbous, silvery, thin, huge, lovely, largest, glorious, faced, faint, sixth, silent, tropical, watery, tiny, clouded, dim, orbed, sun, heat, man, inconstant, quiet, splendid, gentle, slender, wintry, radiant, pallid, fat, cool</span>

       </div>

      <div style="clear: both;"></div><!-- This is to clear the float -->

    </div><!-- end .bgimgspace -->

</div>
