<div ng-controller="oceanCtrl">

<div class="bgimgocean">

<div class="ocean">

 <p class="oceanp">One day, in the deep</p>
 <input type="text" ng-model="obj.one" placeholder="word">
 <p class="oceanp">, I saw a</p>
 <input type="text" ng-model="obj.two" placeholder="word">
 <p class="oceanp">looking at me. Then a</p>
 <input type="text" ng-model="obj.three" placeholder="word">
 <p class="oceanp">came by and</p>
 <input type="text" ng-model="obj.four" placeholder="word">
 <p class="oceanp">. As I swam deeper everything started to get</p>
 <input type="text" ng-model="obj.five" placeholder="word">
 <p class="oceanp">and the</p>
 <input type="text" ng-model="obj.six" placeholder="word">
 <p class="oceanp">looked</p>
 <input type="text" ng-model="obj.seven" placeholder="word">
 <p class="oceanp">. Never ever</p>
 <input type="text" ng-model="obj.eight" placeholder="word">
 <p class="oceanp">a</p>
 <input type="text" ng-model="obj.nine" placeholder="word">
 <p class="oceanp">will</p>
 <input type="text" ng-model="obj.ten" placeholder="word">
 <p class="oceanp">swim by and say hi. Pushing off the</p>
 <input type="text" ng-model="obj.eleven" placeholder="word">
 <p class="oceanp">, swimming to the</p>
 <input type="text" ng-model="obj.twelve" placeholder="word">
 <p class="oceanp">. I am</p>
 <input type="text" ng-model="obj.thirrteen" placeholder="word">
 <p v>to be</p>
 <input type="text" ng-model="obj.fourteen" placeholder="word">


 <button type="button" class="btn btn-default" ng-click="submitPoem()">Submit</button>

</div>

<div class="oceanWords">

<h3>Ocean Nouns</h3>
<span>sea, ocean, water, shells, waves, sand, beach, octopus, whale, anemone, fish, seaweed, coral, shark, stingray, crab, squid, jellyfish, turtle, dolphin, seagull, pelican, starfish, rock pools, sea horse, eel, sea cucumber, island, plant, turtle</span>

<h3>Ocean Colors</h3>
<span>blue, green, black, red, yellow, orange, purple, brown, silver, white, gold, pink</span>

<h3>Ocean Adjectives</h3>
<span>beaming, bleak, blended, blotchy, bold, bright, brilliant, clean, colored, colorful, colorless, cool, crisp, dappled, dark, deep, delicate, dim, dirty, discolored, dotted, drab, dreary, dull, dusty, earth, electric, faded, faint,  fiery, flashy, flattering, flecked, frosty, glistening, glittering, glowing, harsh, hazy, hot, icy, intense, iridescent, light, loud, luminous, mellow, milky, mixed, motley, mottled, muddy, multicolored, murky, natural, neutral, opaque, pale, pastel, patchwork, patchy, patterned, perfect, plain, primary, prismatic, pure, radiant, reflective, rich, satiny, shaded, sheer, shining, shiny, shocking, showy, smoky, soft, solid, somber, sparkling, speckled, stained, streaked, streaky, striking, strong, subtle, sunny, swirling, tinged, tinted, tonal, toned, traditional, translucent, transparent, two-tone, uneven, vibrant, vivid, wan, warm, wild</span>

</div>

</div>

</div>
