<!--ocean view using angular route/ng-view/ocean controller-->
<div ng-controller="oceanCtrl" class="extraDiv">

  <div class="bgimgocean">

    <div class="ocean">

     <center><p class="oceanp">One day,<br> in the deep
     <input type="text" ng-model="obj.one" placeholder=""><br>
     I saw a
     <input type="text" ng-model="obj.two" placeholder="">
     looking at me.<br> Then a
     <input type="text" ng-model="obj.three" placeholder="">
     came by and<br>
     <input type="text" ng-model="obj.four" placeholder="">
     . As I swam deeper everything<br>
     started to get
     <input type="text" ng-model="obj.five" placeholder="">
     <br>and the
     <input type="text" ng-model="obj.six" placeholder="">
     looked<br>
     <input type="text" ng-model="obj.seven" placeholder="">
     . Never ever
     <input type="text" ng-model="obj.eight" placeholder="">
     <br>a
     <input type="text" ng-model="obj.nine" placeholder="">
     it will<br>
     <input type="text" ng-model="obj.ten" placeholder="">
     . Pushing off the<br>
     <input type="text" ng-model="obj.eleven" placeholder="">
     , and swimming to the
     <input type="text" ng-model="obj.twelve" placeholder="">
     . <br>I am
     <input type="text" ng-model="obj.thirrteen" placeholder="">
     to be
     <input type="text" ng-model="obj.fourteen" placeholder=""></center>

    <center><button type="button" class="btn btn-default" ng-click="submitPoem()">Submit</button></center>

   </div>

  <div class="oceanWords">

     <h3>Ocean Nouns/people, place or thing</h3>
     <span>sea, ocean, water, shells, waves, sand, beach, octopus, whale, anemone, fish, seaweed, coral, shark, stingray, crab, squid, jellyfish, turtle, dolphin, seagull, pelican, starfish, rock pools, sea horse, eel, sea cucumber, island, plant, turtle</span>

     <h3>Ocean Colors</h3>
     <span>blue, green, black, red, yellow, orange, purple, brown, silver, white, gold, pink</span>

     <h3>Ocean Adjectives/describe your noun's with these words</h3>
     <span>beaming, bleak, blended, blotchy, bold, bright, brilliant, clean, colored, colorful, colorless, cool, crisp, dappled, dark, deep, delicate, dim, dirty,  flashy,  opaque, pale, pastel, patchwork, patchy,  traditional, translucent, transparent, two-tone, uneven, vibrant, vivid, wan, warm, wild</span>

     </div>

    <div style="clear: both;"></div><!-- This is to clear the float -->

   <!--</div>-->

  </div>

</div>
